{% load my_tags %}

<nav class="uk-navbar uk-navbar-inverse">
    <a href="/" class="uk-navbar-brand"><i class="uk-icon-paper-plane uk-icon-justify"></i> &nbsp;{% settings_value 'SSWEB_TITLE' %}</a>
    <ul class="uk-navbar-nav">
        <li {% if tab == 'started' %}class="uk-active"{% endif %}><a href="{% url 'user-console' %}">Get started</a></li>
        <li {% if tab == 'pricing' %}class="uk-active"{% endif %}><a href="{% url 'pricing' %}">Pricing</a></li>
        <li {% if tab == 'download' %}class="uk-active"{% endif %}><a href="">Download</a></li>
        <li {% if tab == 'blog' %}class="uk-active"{% endif %}><a href="">Blog</a></li>
    </ul>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            {% if user.is_authenticated %}
            <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                <a href="#">
                    {{ user.last_name }}
                    <i class="uk-icon-caret-down"></i>
                </a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li><a href="{% url 'user-profile' %}"><i class="uk-icon-user uk-icon-justify"></i> &nbsp;My Profile</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="{% url 'logout' %}?next={% url 'home' %}"><i class="uk-icon-sign-out uk-icon-justify"></i> &nbsp;Logout</a></li>
                    </ul>
                </div>
            </li>
            {% else %}
            <li><a href="{% url 'user-signon' %}">Signon</a></li>
            <li><a href="{% url 'login' %}">Signin</a></li>
            {% endif %}
        </ul>
    </div>
</nav>